
body {
  background-color: #e6ecf0;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #1DA1F2;
}

@media screen and (min-width: 1236px) {
  .container {
    width: 1190px;
  }
}

.tweet-list {
  list-style: none;
  margin: 8px 4px 0;
  padding: 0;
}
.tweet-card {
  background-color: white;
  border-bottom: 1px solid #e6ecf0;
  min-height: 52px;
  padding: 9px 12px;
}

.tweet-content {
  margin-left: 58px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.tweet-card-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}

.tweet-footer-btn {
  margin-right: 30px;
}
.tweet-footer-btn i, .tweet-footer-btn span {
  color: #657786;
  font-size: 16px;
}
.tweet-footer-btn span {
  margin-left: 8px;
}

.card-body{
	background-color: #fff;
	color: black;
}

.tweet-text{
  color: black;
}

.username{
  color: black;
  font-size: 20px;
}

.fullname{
  color: black;
}

.tweet-time{
  color: black;
}

.col{
  color: black
}

.form{
  color: black;
}

.media{
  height: 350px;
  width: 350px;
}
.weepers{
  height: 200px;
  width: 200px;
}

.who-to-follow{
  height: 200px;
  width: 200px;
}

.profile-pic{
  height: 200px;
  width: 200px;
}

.bash-author{
  font-size: 15px;
}

.bash-content{
  font-size: 15px;
}

.banter-author{
  font-size:20px;
}

.banter-content{
  font-size:20px;
}
.banter-input {
  padding: 7px;
}
.banter-submit {
  padding: 5px;
}
.bash-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 3px;
  margin-left: 15px;
}
.banter-avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-top: 3px;
}
.bash-content-container{
  padding: 15px;
  /* margin-left: 70px; */
}

.banter-container{
  min-height: 75px;
  text-align: left;
}

.banter-author-container{
  padding: 15px;
  margin-left: 70px;
}

.twitter-body-timeline{
  max-width: 400px;
}

.banter-username{
  font-size: 15px;
}
